#sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  padding-top: 20px;
  background-color: #f8f9fa;
}

#sidebar h4 {
  text-align: center;
}

#sidebar ul.components {
  padding: 0;
}

#sidebar ul.components li {
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;
}

#sidebar ul.components li a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

#sidebar ul.components li a:hover {
  background-color: #007bff;
  color: #fff;
}
